{% extends "layout.html" %}
{% block title %}

<title>VID VEDA | Check In </title>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="container" style = "overflow: hidden">

    <div class="content" style = "overflow: hidden">
        <div class="container-title">Check In</div>
                 <form action = "/" method = POST>
        <div class="input-email">
            <input class="input" type="email" name = checklog placeholder="Email" > 
        </div>
        <div class="input-pass">
            <input class="input" type="password" name = checklog2 placeholder="Password"> 
        </div>
        <div class="cntr2">
            <a class="fp" href = "/forgot" style = "text-decoration: none">Forget Password?</a>
            <button class="btn" type="submit" name = checkin ><p class="sign">Check In</p></button>
        </div>
        </form>
        <div class="cntr3">
            <div class="signuprequest">Don’t have an Account Yet? <span class="signupcolour"> <a href="/dctrsignup">Sign Up  </a></span></div>
        </div>
        
    </div>
    
</div>

{% for message in get_flashed_messages() %}

<div class="MsgPopArea">
    <div class="msgarea">
        <p>{{ message }} </p>

    </div>
    <div class="btnarea">
        <button class="msgbtn"> Ok </button>

    </div>
    
</div>
{% endfor %}



<script>
    const btn = document.querySelector(".msgbtn")
    btn.addEventListener("click", () => {
        const msgbox = document.querySelector(".MsgPopArea")
        msgbox.classList.toggle("msgdisplay")
    })
</script>



{% endblock %}



