<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "{{ url_for('static',filename='css/dashboard.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      {% block styles %}

      {% endblock %}

  <title>VID VEDA</title>
</head>
<body>



    

<!--Navigation Bar Component-->
  <nav class="navbar">
    <div class="logo">
      <a href="/"><span class="logo-text"> V</span>ID VEDA</a>
    </div>
<!--Navigation List Component-->

<div class="dashboard">
  

    <div class="admin">
        <div class="admin-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
        </div>
        <div class="admin-list">
            <ul class="list">
                <li>  <a href="#"> Profile </a></li>
                <li><a href="/forgot"> Change Password </a></li>
                <li><a href="#"> Help </a></li>
                <li><a href="#"> Contact Us </a></li>
               
            </ul>
            <form action = "/" method = POST>
               
                <button class="btn" type="submit" name = logout>Log Out 
        </button>
    
        </form>
        </div>
    </div>


</div>
<!--Navigation List Component Ends-->



  </nav>
<!--Navigation Bar Component Ends-->




{% block content %}
    {% endblock %}



<footer>
    <div class="footerarea">
        <div class="footertext">
            <p><span class="logo-text"> V</span>ID VEDA</p>
        </div>
            
          
    </div>
    
</footer>



</main>

</body>
<script>
    const dbutton = document.querySelector(".admin-icon")
    const list = document.querySelector(".admin-list")
    const body = document.querySelector("body")


dbutton.addEventListener("click", () => {

        list.classList.toggle("admin-list-toggle")

    })

    

</script>
</html>
