
{% extends "layout.html" %}

{% block title %}

<title>VID VEDA</title>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="container" style = "overflow: hidden">

        <div class="content" style = "overflow: hidden">
            <div class="container-title">Forgot Password</div>
                     <form action = "/" method = POST>
            <div class="input-email" style = "margin-top: 50px">
                <input class="input" type="email" name = sss placeholder="Email" > 
            </div>
            <div class = cntr2 >
                <button style = "margin-top: 50px" class="btn" type="submit" name = reset ><p class="sign">Submit</p></button>
            </div></form>

            {% for message in get_flashed_messages() %}

            <div class="MsgPopArea">
                <div class="msgarea">
                    <p>{{ message }} </p>

                </div>
                <div class="btnarea">
                    <button class="msgbtn"> Ok </button>

                </div>
                
            </div>
            {% endfor %}

        </form>

        </div>


        <script>
            const btn = document.querySelector(".msgbtn")
            btn.addEventListener("click", () => {
                const msgbox = document.querySelector(".MsgPopArea")
                msgbox.classList.toggle("msgdisplay")
            })
        </script>
        

        </div>
      
    </div>


</main>

{% endblock content %}
