{% extends 'dashboard.html' %}
{% block title %}
<title>VID VEDA</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/symptom.css') }}">
{% endblock %}
{% block content %}

<main>
  <h1>Please describe your symptoms in brief</h1>
  <p>This information will be shared to your doctor for better assessment</p>
  <form action = '/requestdoc/{{he}}' method = "POST">
  
    <textarea name = "symptom_check2" rows="4" cols="250" ></textarea>
  
    <button name = "symptom_submit2">Submit</button>
  
  </form>
</main>


 
{% endblock content %}
